html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  padding-bottom: 6rem;
  background-color: #C0C0C0;
}

h1 {
  font-size: 6em;
}

#wiki {
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #333;
  border-radius: 4px;
  font-size: 20px;
  color: #333;
}

#wiki:focus {
  outline: 0;
}

#button {
  background-color: transparent;
  padding: 10px;
  margin: 10px 0;
  color: #000000;
  text-decoration: none;
  border: 2px solid #333;
  border-radius: 4px;
  font-size: 20px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

#button:hover {
  background-color: #E18A07;
}

#button:focus {
  outline: 0;
}

#button a {
  text-decoration: none;
  color: #000000;
}

#results, #button {
  margin-top: 10px;
  color: #000000;
}

#results {
  max-width: 60%;
  margin: 2% 20% 2%;
}

#results a {
  text-decoration: none;
}

ul:hover:after {
  border: 5px solid #E18A07;
}

ul {
  list-style-type: none;
  color: white;
  position: relative;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

ul::after {
  content: '';
  position: absolute;
  left: 15px;
  top: 15px;
  bottom: 15px;
  right: 15px;
  border-radius: 4px;
  border: 3px solid black;
}

.heading {
  font-family: Arial, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  background-color: white;
  background-position: top left;
  position: absolute;
  left: 0;
  padding-left: 12px;
  top: 0;
  margin-top: 10px;
  z-index: 2;
}

.heading:hover {
  color: #E18A07;
}

.info {
  color: #333;
  font-size: 2em;
  position: relative;
  padding: 50px 20px 40px 25px;
  line-height: 2.5rem;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  font-size: 2em;
  background-color: #E18A07
}

.foot a {
  color: #fff;
  text-decoration: none;
}
