html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  padding-bottom: 6rem;
  background-color: #C0C0C0;
}

h1 {
  font-size: 6em;
}

#wiki {
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #333;
  border-radius: 4px;
  font-size: 20px;
  color: #333;
}

#wiki:focus {
  outline: 0;
}

#button {
  background-color: transparent;
  padding: 10px;
  margin: 10px 0;
  color: #000000;
  text-decoration: none;
  border: 2px solid #333;
  border-radius: 4px;
  font-size: 20px;
}

#button:hover {
  background-color: #FFF;
}

#button:focus {
  outline: 0;
}

#button a {
  text-decoration: none;
  color: #000000;
}

#results, #button {
  margin-top: 10px;
  color: #000000;
}

#results {
  max-width: 60%;
  margin: 2% 20% 2%;
}

#results a {
  text-decoration: none;
  padding-top: 10px;
}

ul {
  list-style-type: none;
  background-color: #fff;
  margin-bottom: 15px;
  display: block;
  padding-left: 0;
}

ul:hover {
  border-bottom: 5px solid #E18A07;

}

.heading {
  font-size: 3em;
  color: #333;
  text-align: center;
}

.info {
  color: #333;
  font-size: 2em;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  font-size: 2em;
  background-color: #E18A07
}

.foot a {
  color: #fff;
  text-decoration: none;
}
